@inject NavigationManager navManager
@inject EventService eventService

<MudCard @onclick="OnClick" Style="height: 16vh; background-color:#ccdbdc">
    <MudCardHeader Class="justify-start">
        <span style="height: 100%">@number</span>
    </MudCardHeader>
</MudCard>

@code {
    [Parameter]
    public int number { get; set; }

    private void OnClick()
    {
        navManager.NavigateTo("/dashboard/July/" + number);
    }
}
