@namespace GymSystem.Components

<div class="d-flex align-content-center p-5" style="width:100%; flex-direction: column">
    <div class="" style="height: fit-content; height: fit-content;">
        <h1 class="text-center align-text-top" style="justify-self: center"><strong>July</strong></h1>
    </div>

    <br />
    <br />

    <div class="grid-item" style="width:100%">
        @for(int i = 1; i < 32; i++)
        {
            <CalendarBlock number="@i" />
        }
    </div>                                                          
</div>

@code {

}
