@inject NavigationManager navManager
@inject Controllers.EventService eventService

<button class="btn" style="height: 16vh; background-color:#ccdbdc" @onclick="OnClick">
    <div class="card-body d-block text-end align-text-top" style="height: 100%; width: 100%">
        <span style="height: 100%">@number</span>
    </div>
</button>

@code {
    [Parameter]
    public int number { get; set; }

    private void OnClick()
    {
        navManager.NavigateTo("/dashboard/July/" + number);
    }
}
