@namespace GymSystem.Components

    @if(machineData is not null)
    {
        <div class="card d-flex justify-content-between align-items-center" style="width: 40vmin; height: 40vmin; flex-direction: column">
                <div class="d-flex justify-content-center card-img-top" style="width: 100%; height: 80%">
                    <img src=@machineData.displayImageURL style="width: contain; height: 100%" />
                </div>

                <div @onclick="@(() => ClickHandler(machineData))" class="card-body text-center" style="background-color: lightgray; width: 100%; height: 20%; white-space: nowrap">
                    <h3 class="d-inline card-title m-0">@machineData.machineName</h3>
                </div>             
        </div>
    }

@code {
    [Parameter]
    public Machine? machineData { get; set; }
    [Parameter]
    public EventCallback<Machine> OnClick { get; set; }

    private async Task ClickHandler(Machine data)
    {
        await OnClick.InvokeAsync(machineData);
    }
}
