@namespace GymSystem.Components

    @if(machineData is not null)
    {
        <button @onclick="@(() => ClickHandler(machineData))">
            <img src=@machineData.displayImageURL style="width: 70%"/>
            <h3 style="padding-block"> @machineData.machineName </h3>
        </button>
    }

@code {
    [Parameter]
    public MachineData? machineData { get; set; }
    [Parameter]
    public string? objClass { get; set; }
    [Parameter]
    public EventCallback<MachineData> OnClick { get; set; }

    private async Task ClickHandler(MachineData data)
    {
        await OnClick.InvokeAsync(machineData);
    }
}
