@namespace GymSystem.Components
@inject NavigationManager navManager;

<div class="container" style="width:60%">
    <div class="d-grid pt-2" style="row-gap: 50px; ">
        @foreach (MachineData machine in machines)
        {
            <div class="row col">
                <GymDisplay machineData="@machine" OnClick="@((MachineData data) => OnClick(data))" />
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<MachineData> machines { get; set; }

    public void OnClick(MachineData data)
    {
        navManager.NavigateTo("dashboard/" + data.machineName);
    }
}
