.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15vw);
    grid-template-rows: max-content;
    text-align: center;
    grid-gap: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px;
}
