@page "/dashboard"

<div class="card-header" style="height: fit-content; height: fit-content">
    <h1 class="text-center align-text-top" style="justify-self: center"><strong>Dashboard</strong></h1>
</div>

<Calendar />

<br />
<br />

<GymGrid />
