@page "/"

<PageTitle>Index</PageTitle>

<h1 class="card-header text-center"> <strong>About Us</strong> </h1>

<br />
<br />

<div class="main-node">
    <div style="justify-content: start">
        <p style="font-size: 1.35rem">
            Gymificient is a gym management software for owners who want to put customers first,
            We provide a schedule for when machines need to be serviced based on the amount of users
            our state-of-the-art human detection system tracks. We also provide this data to you
            which will inform you about which machines are being used often and which are not.
        </p>
    </div>

    <div style="justify-content: end">
        <img class="gym-layout-image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fd4%2F35%2F6a%2Fd4356a54bde8cef15d3a4bc937778e73.jpg&f=1&nofb=1&ipt=68360b57b578a925ce129d3495c0df25baf069995dc2168660df7859debfdd50&ipo=images" />
    </div>
</div>  

