.main-node {
    justify-content: space-between;
    flex-direction: row;

    height: 50vh;
    width: 100%;
}

.main-node > div {
    display: inline-flex;

    width: 50vh;
    height: 50vh;
}

.gym-layout-image {
    width: 100%;
    height: 100%;
}

.big-text {
    font-size: 2vmax;
}

.small-text {
    font-size: 1.3vmax;
}
