@page "/dashboard/{machineName}"
@inject NavigationManager navManager

<div class="card-header" style="height: fit-content; height: fit-content">
    <h1 class="text-center" style="justify-self: center;"><strong>@machineName</strong></h1>
</div>

<div class="d-lg-inline-flex stat-image-display p-lg-5" style="height: fit-content">
    <div>
        <div class="d-inline-block">
            <span>Machine Usage:</span>
            <span>XX%</span>
        </div>

        <div class="d-inline-block">
             <span>Last Serviced:</span>
             <input type="date" />
        </div>

        <div class="d-inline-block">
            <span>Warranty:</span>
            <input type="date" />
        </div>   
    </div>

    <div>
        <img style="width:100%; height: 100%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.esellerpro.com%2F2347%2FI%2F948%2F88%2FMan-Performing-Bench-Press-on-Mirafit-M1-Adjustable-Folding-Weight-Bench-with-Dip-Station.jpg&f=1&nofb=1&ipt=ef8111c2ea77d3337890bdb7674ae6d24550249b2a8f476f08c602b8de3b1e12&ipo=images" />
    </div>
</div>

<br />
<br />

<div class="table_class">
    <table class="table align-content-between" style="width:100%"> 
        <thead style="width:100%">
            <tr style="width:100%">
                <th scope="col">Date</th>
                <th scope="col">Problem</th>

                <button class="btn align-items-end" type="button" @onclick="OnClick">New problem</button>
            </tr>
        </thead>

        <tbody>
            <tr>
                @if(problems is not null)
                {
                    @foreach (MachineProblem problem in problems)
                    {
                        <th scope="row">@problem.Date</th>
                        <td>@problem.Problem</td>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string? machineName { get; set; }

    public List<MachineProblem> problems;

    private void OnClick()
    {
        navManager.NavigateTo("/dashboard/" + machineName + "/problems");
    }
}
