@page "/dashboard/{machineName}/problems"

@inject MachineService machineService;
@inject Controllers.EventService eventService;

<EditForm Model="newProblem" OnSubmit="OnSubmit">
    <div>
        <label>
            Date:
            <br />
            <InputDate @bind-Value="newProblem!.Date" />
        </label>
    </div>

    <br />

    <div>
        <label>
            Problem:
            <br />
            <InputTextArea @bind-Value="newProblem!.Problem"/>
        </label>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public string? machineName { get; set; }

    private Machine? machine;

    MachineProblem newProblem = new MachineProblem();

    protected override async Task OnParametersSetAsync()
    {
        if (machineName is null) return;

        machine = await machineService.GetMachineFromName(machineName);

        base.OnParametersSetAsync();
    }

    private void OnSubmit()
    {
        
    }
}
