@page "/team"

<PageTitle>Team</PageTitle>

<h1 class="card-header text-center"> <strong>Meet the Team</strong> </h1>

<div class="team-section">
    <div class="team-container">
        <div class="team-member">
            <img src="Images/Udaiveer.jpg" alt="Udaiveer Parihar" class="team-photo" />
            <h3 class="team-name">Udaiveer Parihar</h3>
            <p class="team-role">Biz-Ops</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/udaiveer-parihar-460272230/" target="_blank" class="btn-linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="team-member">
            <img src="Images/Jakub.jpg" alt="Jakub Janoska" class="team-photo" />
            <h3 class="team-name">Jakub Janoska</h3>
            <p class="team-role">Front End</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/jakub-janoska-19a7b8313/" target="_blank" class="btn-linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/jakubjn" target="_blank" class="btn-github">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        
        <div class="team-member">
            <img src="Images/Nathan.jpg" alt="Nathan Manley" class="team-photo" />
            <h3 class="team-name">Nathan Manley</h3>
            <p class="team-role">Back End</p>

            <div class="social-links">

                <a href="https://www.linkedin.com/in/nathan-manley/" target="_blank" class="btn-linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/macmanley" target="_blank" class="btn-github">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <br />
    </div>

    <div class="text-center">
        <span class="big-text">
            Our excellent team combines many skills such as game design, modding, biology and hardware. All to deliver Gymificient to your business. 
        </span>
        <br />
        <span class="small-text">
            Want to chat? Contact us above!
        </span>
    </div>
</div>
