@page "/team"

<PageTitle>Team</PageTitle>

<h1 class="card-header text-center"> <strong>Meet the Team</strong> </h1>

<div class="team-section">
	<div class="team-container">
		<TeamPageCard Name="Udaiveer Parihar"
					  Role="Biz-Ops"
					  LinkedIn="https://www.linkedin.com/in/udaiveer-parihar-460272230/"
					  GitHub="@null"
					  Image="Images/Udaiveer.jpg">
		</TeamPageCard>

		<TeamPageCard Name="Jakub Janoska"
					  Role="Front End"
					  LinkedIn="https://www.linkedin.com/in/jakub-janoska-19a7b8313/"
					  GitHub="https://github.com/jakubjn"
					  Image="Images/Jakub.jpg">
		</TeamPageCard>

		<TeamPageCard Name="Nathan Manley"
					  Role="Back End"
					  LinkedIn="https://www.linkedin.com/in/nathan-manley/"
					  GitHub="https://github.com/macmanley"
					  Image="Images/Nathan.jpg">
		</TeamPageCard>
		<br />
	</div>

	<div class="text-center">
		<span class="big-text">
			Our excellent team combines many skills such as game design, modding, biology and hardware. All to deliver Gymificient to your business.
		</span>
		<br />
		<span class="small-text">
			Want to chat? Contact us above!
		</span>
	</div>
</div>
