@inherits LayoutComponentBase

@inject IJSRuntime js;

<PageTitle>GymSystem</PageTitle>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <CascadingValue Value="isMobile">

        @if(!isMobile)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        } else
        {
            <TopNavMenu />
        }

        <main>
            @Body
        </main>
    </CascadingValue>
</div>

@code {
    public bool isMobile { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            isMobile = await js.InvokeAsync<bool>("mobileCheck");
            StateHasChanged();
        }
    }
}