@inherits LayoutComponentBase

@inject IJSRuntime js;

<PageTitle>GymSystem</PageTitle>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="@classDirection" style="position: relative; background-color: #EDEDED; display: flex">
    <CascadingValue Value="isMobile">

        @if(!isMobile)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        } else
        {
            <div class="topbar">
                <TopNavMenu />
            </div>
        }

        <main>
            @Body
        </main>
    </CascadingValue>
</div>

@code {
    public bool isMobile { get; set; }

    private string classDirection { get; set; } = "flex-row";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            isMobile = await js.InvokeAsync<bool>("mobileCheck");

            if (isMobile)
            {
                classDirection = "flex-column";
            }

            StateHasChanged();
        }
    }
}